@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    font-feature-settings: "cv11", "ss01";
    text-rendering: optimizeLegibility;
}

